{% extends "base.html" %}

{% block content %}

<div class="container-xxl">
    <div class="row">
        <div class="col-lg-8 pt-5">
            <!-- ###### Main Content ###### -->
            <h2 class="pt-4 pb-2 mb-4 border-bottom">Last Image Taken</h2>
            <img src="/video_feed_{{camera.Num}}" width="640" height="480">
            
            <!--<img id="pimage" 
            src="{{ url_for('static', filename='gallery/'+last_image) if last_image else url_for('static', filename='gallery/snapshot/default_preview.svg') }}" 
            class="img-fluid" 
            alt="Last Captured Image" 
            onerror="this.onerror=null; this.src='{{ url_for('static', filename='gallery/snapshot/default_preview.svg') }}';">-->

            <div class="pt-3 row">
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button type="button" class="btn btn-primary btn-success btn-lg" 
                            id="captureButton">
                        Capture Image
                    </button>
                </div>
                <div class="col-8">
                    <div id="captureAlert" class="alert" role="alert" style="display: none;"></div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 pt-5 pb-4 overflow-y-scroll" 
             style="height: 100vh; height: -webkit-fill-available; max-height: 100vh; overflow-x: auto; overflow-y: hidden;">    
            <!-- Camera Controls -->
            <div class="camera-controls">
                {% include "camera_controls.html" %}
            </div>

        </div>
    </div>
</div>

<script>
    document.getElementById("captureButton").addEventListener("click", function() {
        let button = document.getElementById("captureButton");
        button.disabled = true; // Disable button immediately

        fetch("/capture_still_{{ camera.Num }}", { method: "POST" })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update the image preview with a cache-busting timestamp
                let img = document.getElementById("pimage");
                img.src = `{{ url_for('static', filename='gallery/') }}${data.image}.jpg`;
                console.log('Photo Captured:', data.image);
                // Re-enable the button *only* if the server confirms success
                button.disabled = false;
            } else {
                console.error("Capture error:", data.message);
                button.disabled = false; // Re-enable if there was an error
            }
        })
        .catch(error => {
            console.error("Capture error:", error);
            button.disabled = false; // Re-enable on error
        });
    });


</script>

{% endblock %}