{% extends 'base.html' %}

{% block content %}
<br></br>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <!-- Sidebar with buttons -->
        <div class="col-auto d-flex flex-column align-items-center p-2 bg-dark" style="width: 60px;">
            <button class="btn btn-light mb-3" onclick="location.href='/image_gallery'">
                <i class="bi bi-images"></i>
            </button>
            <button class="btn btn-light mb-3" onclick="captureImage()">
                <i class="bi bi-camera"></i>
            </button>
            <button class="btn btn-light" data-bs-toggle="offcanvas" data-bs-target="#cameraSettings">
                <i class="bi bi-gear"></i>
            </button>
        </div>

        <!-- Video Stream -->
        <div class="col text-center">
            <img id="videoStream" src="/video_feed_{{camera.Num}}" class="img-fluid" style="max-height: 100vh; object-fit: contain;">
        </div>
    </div>
</div>

<!-- Offcanvas for Camera Settings -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="cameraSettings">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Camera Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        {% include 'camera_controls.html' %}
    </div>
</div>

<script>
    function captureImage() {
        fetch('/capture_still_{{ camera.Num }}', { method: 'POST' })
            .then(response => response.json())
            .then(data => console.log('Image captured:', data))
            .catch(error => console.error('Error capturing image:', error));
    }
</script>
{% endblock %}
