{% extends "base.html" %}

{% block content %}

<div class="container-xxl">
    <div class="row">
        <div class="col-lg-8 pt-5">
            <!-- ###### Main Content ###### -->
            <h2 class="pt-4 pb-2 mb-4 border-bottom">Last Image Taken</h2>
            <img id="pimage_preview_{{ camera.Num }}" 
                 src="{{ url_for('static', filename='gallery/pimage_preview_' + camera.Num|string + '.jpg') }}" 
                 class="img-fluid" 
                 alt="..." 
                 onerror="this.onerror=null; this.src='{{ url_for('static', filename='gallery/snapshot/default_preview.svg') }}';">

            <div class="pt-3 row">
                <div class="d-grid gap-2 col-4 mx-auto">
                    <button type="button" class="btn btn-primary btn-success btn-lg" 
                            id="captureButton" 
                            onclick="captureStill({{ camera.Num }})">
                        Capture Image
                    </button>
                </div>
                <div class="col-8">
                    <div id="captureAlert" class="alert" role="alert" style="display: none;"></div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 pt-5 pb-4 overflow-y-scroll" 
             style="height: 100vh; height: -webkit-fill-available; max-height: 100vh; overflow-x: auto; overflow-y: hidden;">    
            <!-- Camera Controls -->
            <div class="camera-controls">
                {% include "camera_controls.html" %}
            </div>
        </div>
    </div>
</div>

<script>
    function captureStill(cameraNum) {
        fetch(`/capture_still_${cameraNum}`, { method: "POST" })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update the image source to show the new capture
                document.getElementById(`pimage_preview_${cameraNum}`).src = 
                    `{{ url_for('static', filename='gallery/pimage_preview_') }}${cameraNum}.jpg?${new Date().getTime()}`;
            } else {
                alert("Error capturing image: " + data.message);
            }
        })
        .catch(error => console.error("Error:", error));
    }
</script>

{% endblock %}